<!-- [input]=obj : passa o obj do pai para o componente car filho --->
<!-- (saveEmiter)="método()" : avisa filho q vai chamar método pai -->
<app-car [car]="car" (saveEmitter)="saveCar()"></app-car>

<div class="container bg-light">
  <h3>Carros Cadastrados:</h3>
  <table class="table table-light border-top">
    <thead>
      <tr>
        <th>#</th>
        <th>Nome</th>
        <th>Montadora</th>
        <th>Preço</th>
        <th>Ano</th>
        <th class="text-end">Opções</th>
      </tr>
    </thead>
    <tbody>
      <!-- *ngFor: diretivas do Angular (cria um for dentro do html) -->
      <tr *ngFor="let car of cars">
        <td>{{car.id}}</td>
        <td>{{car.name | uppercase}}</td>
        <td>{{car.assembler}}</td>
        <td>{{car.price}}</td>
        <td>{{car.year}}</td>
        <td class="text-end">
          <button class="btn btn-success me-2" (click)="update(car)">Alterar</button>
          <button class="btn btn-danger" (click)="remove(car)">Remover</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>